.Search {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &-button {
    margin-left: 10px;
  }
}

.Search-input {
  max-width: 400px;
  width: 100%;

  padding: 12px 10px 10px;

  font-size: 16px;
  color: #222;

  transition: box-shadow 0.2s cubic-bezier(0.25, 0.25, 0.25, 0.25);
}

.Search-input:focus {
  box-shadow: 0 0 6px 4px rgba(71, 207, 115, 0.48);
}

.Button {
  display: block;

  padding: 10px 25px 8px;

  background-color: #3fb866;

  transition: box-shadow 0.3s cubic-bezier(0.25, 0.25, 0.25, 0.25);

  &-text {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 2px;

    transition: text-shadow 0.3s cubic-bezier(0.25, 0.25, 0.25, 0.25);
  }
}

.Button:hover {
  box-shadow: 0 0 5px 3px rgba(71, 207, 115, 0.48);

  .Button-text {
    text-shadow: 1px 0 0 #ffffff;
  }
}

